/* 
Theme Name: Scarsticks
Theme URL: https://scarsticks.nl
Description: Scarsticks theme
Theme Author: Maikel Mast
Author URL: http://maikel.mast.nl
Template: leto 
Version: 1.0.0 
Text Domain: scarsticks
*/

.header-floating.floating .site-branding__logo .primary,
.header-floating-trigger:hover .site-branding__logo .primary {
    fill: #ea580c;
}

.header-floating.floating .site-branding__logo .secondary,
.header-floating-trigger:hover .site-branding__logo .secondary {
    fill: #706f6f;
}

.site-branding__link {
    display: inherit;
}

.site-branding__logo {
    transition: color 0.3s ease;
}

.site-branding__logo .primary,
.site-branding__logo .secondary {
    fill: #333;
}

.site-branding__content {
	display: none;
}

.site-branding img {
	max-width: 200px;
}

.header-navigation.header-floating.floating .site-branding img {
	max-width: 140px;
}

.wpcf7-form label,
.wpcf7-form label input[type="text"],
.wpcf7-form label input[type="email"] {
	width: 100%;
}

.wc-block-grid__product-onsale {
	left: 50%;
	transform: translateX(-50%);
}

.wp-block-button__link {
	border-radius: 0;
	background-color: #d6632c;
}
