.so-widget-sow-cta-default-beb735c78143 .sow-cta-base {
  border: 1px solid #d7632c;
  background-color: #d7632c;
}
.so-widget-sow-cta-default-beb735c78143 .sow-cta-base .sow-cta-text .sow-cta-title {
  color: #ffffff;
  
  
  
}
.so-widget-sow-cta-default-beb735c78143 .sow-cta-base .sow-cta-text .sow-cta-subtitle {
  color: #ffffff;
  
  
  
}
.so-widget-sow-cta-default-beb735c78143 .sow-cta-base .sow-cta-text {
  float: left;
}
.so-widget-sow-cta-default-beb735c78143 .sow-cta-base .so-widget-sow-button {
  float: right;
  margin-left: 1em;
}