.so-widget-sow-button-flat-acb46c919c67 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-acb46c919c67 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-acb46c919c67 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-acb46c919c67 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #ffffff;
  color: #333333 !important;
  border: 1px solid #ffffff;
  border-width: 1px 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-flat-acb46c919c67 .ow-button-base a:visited,
.so-widget-sow-button-flat-acb46c919c67 .ow-button-base a:active,
.so-widget-sow-button-flat-acb46c919c67 .ow-button-base a:hover {
  color: #333333 !important;
}
.so-widget-sow-button-flat-acb46c919c67 .ow-button-base a.ow-button-hover:hover {
  background: #ffffff;
  border-bottom-color: #fcfcfc;
  color: #3d3d3d;
}